body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 5px;
}

.title {
  background: #e3f4ff;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px;
  font-size: large;
  font-weight: bold;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  margin: 0, auto;
  padding: 10px;
  box-sizing: border-box;
  text-align:center
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;  
}