body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  font-weight: 500;
}

.header {
  max-height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  flex-shrink: 0;


}

.main-content {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  align-self: stretch;
  flex-shrink: 0;
  /* padding: 0; */
}

.card-set {
  display: flex;
  padding: 48px;
  /* padding-right: 60px; */
  flex-grow: 3;
  flex-wrap: wrap;
  gap: 40px;

}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 300px;
  max-height: 300px;
  padding: 16px;
  font-weight: 500;
}

ul {
  list-style-type: none;
  padding-left: 15px;
  
}

a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  font-weight: 500;
}

li {
  padding-bottom: 15px;
  
}